<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Product</title>
</head>
<body>
    <center>
        <h1>Enter Product Details</h1>
        <form action="/product/new" method="POST" enctype="multipart/form-data">
            <label for="prodId">Product Id</label>
            <input type="text" id="prodId" name="prodId" title="Enter Product Id" placeholder="Product Id"><br>

            <label for="prodName">Product Name</label>
            <input type="text" id="prodName" name="prodName" title="Enter Product Name" placeholder="Product Name"><br>

            <label for="prodImg">Product Image URL</label>
            <input type="text" id="prodImg" name="prodImg" title="Upload Product Image URL" placeholder="Product Image"><br>

            <label for="prodDesc">Product Description</label>
            <input type="text" id="prodDesc" name="prodDesc" title="Enter Product Description" placeholder="Product Description"><br>

            <label for="category">Category</label>
            <input type="text" id="category" name="category" title="Enter Category" placeholder="Category"><br>

            <label for="price">Price</label>
            <input type="text" id="price" name="price" title="Enter Price" placeholder="Price"><br>

            <label for="stock">Stock</label>
            <input type="text" id="stock" name="stock" title="Enter Stock" placeholder="Stock"><br>

            <label for="rating">Rating</label>
            <input type="text" id="rating" name="rating" title="Enter Rating" placeholder="Rating"><br>

            <label for="ingredients">Ingredients</label>
            <input type="text" id="ingredients" name="ingredients" title="Enter Ingredients" placeholder="Ingredients"><br>

            <label for="nutrients">Nutrients Image URL</label>
            <input type="text" id="nutrients" name="nutrients" title="Enter Product Ingredients URL" placeholder="Ingredients"><br>

            <button type="submit">Submit</button>
        </form>
    </center>
</body>
</html>